{% extends 'base.html' %}


{% block content %}

<main class="container-lg my-3">

    <div class="row g-5">
      
      <div class="col-md-8">
        
        {% if user.is_authenticated %}
          <a class="btn btn-outline-primary" href="{% url 'blog:add_article' %}">Add Article</a>
          <a class="btn btn-outline-primary" href="#">Your Articles</a>
        {% endif %}

        {% for article in articles %}
        <article class="blog-post my-5">
          <h2 class="blog-post-title "><a href="{{article.get_absolute_url}}" class="link-secondary" >{{article.title}}</a></h2>
          <p class="blog-post-meta">{{article.date}} by <a href="{{article.author.profile.get_absolute_url}}" target="_blank">
            
            {% if article.author.profile.full_name %}
            {{article.author.profile.full_name}}
            {% else %}
            {{ article.author.username }}
            {{article.author.get_absolute_url}}
            {% endif %} 
          </a></p>
  
          <hr>
        </article>
        
        {% endfor %}
        <article class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
    
            <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
            <hr>
            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        </article>

        <article class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
    
            <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
            <hr>
            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        </article>
  
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </nav>
  
      </div>
  
    </div>
  
  </main>


{% endblock %}
